<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Taylor St Jean</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/color.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <meta name="description" content="">
</head>

<body>

  <div class="header">
    <h1 class="header__title"><nobr>Taylor St Jean</nobr></h1>
    <div class="header__menu">
      <button class="button header__button" onclick="location.href = '/contact'">CONTACT</button>
      <button class="button header__button" onclick="location.href = '/experience'">EXPERIENCE</button>
      <button class="button header__button header__button--active"><nobr>HOME</nobr></button>
    </div>
  </div>

  <div class="main">

    <div class="main__section">

      <img class="portrait" src="/static/img/portrait.jpeg"/>
      <h2 class="main__title">About Me</h2>
      <p>
        I am a first-year Physics doctoral student with an intended focus in computation and experimental high-energy astrophysics at the <a class="link" href="https://umdphysics.umd.edu/" target="_blank">University of Maryland, College Park</a>. I hold a Bachelor of Science in Comprehensive Physics and Astronomy obtained at the <a class="link" href="https://washington.edu/" target="_blank">University of Washington</a> in Spring 2024. I graduated with Astronomy departmental honors.
      </p>
      <p>
        My college career began at <a class="link" href="https://berklee.edu/" target="_blank">Berklee College of Music</a> where I studied Music Production and Engineering. During my second semester, I realized music was more of a hobby than a career path, and I made the decision to leave and pursue my lifelong passion for Physics and Astronomy. I began attending <a class="link" href="https://northseattle.edu/" target="_blank">North Seattle College</a> in Spring 2021, graduating in the Spring of the next year with an Associate of Science. I transferred to the <a class="link" href="https://washington.edu/" target="_blank">University of Washington</a> the following Fall where I earned my Bachelor's degree.
      </p>

    </div>

  </div>

</body>

</html>
